{% extends "blade/admintemplate.html" %}

{% block content %}
{%load static%}
      
<div class="px-4 py-5 text-left">
    <h1 class="display-5 fw-bold">Документация</h1>
    <p>Добро пожаловать <b>{{ username }}</b>, вы находитесь в панели администрирования рейтинга.</p>
    <p>В текущей версии Вам доступны функции: добавление игроков клуба, внесение, редактирование и удаление игр.</p>
    <br>
    <p>Чтобы внести игру передите на вкладку <b>"Внесение игр"</b> с помощью меню в левой части страницы и следуйте дальнейшим инструкциям.</p>
    <p>Если вам необходимо добавить нового  игрока перейдите на вкладку <b>"Игроки клуба"</b>.</p>
    <br>
    <p>Если вам необходимо изменить, удалить или отредактировать уже внесенную игру, перейдите на вкладку <b>"Игры"</b>.</p>

</div>
    
{% endblock %}