<div class="cl_493692">
<style>.cl_493692 .format-font_mr_css_attr{
font-family:"\4D\6F\6E\74\73\65\72\72\61\74", sans-serif;
}.cl_493692 .my-container_mr_css_attr{
margin-top:10px;
margin-right:10px;
margin-bottom:10px;
margin-left:10px;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
padding-top:0px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
border-top-color:#cccbcb;
border-top-style:solid;
border-top-width:1px;
border-right-color:#cccbcb;
border-right-style:solid;
border-right-width:1px;
border-bottom-color:#cccbcb;
border-bottom-style:solid;
border-bottom-width:1px;
border-left-color:#cccbcb;
border-left-style:solid;
border-left-width:1px;
}.cl_493692 .my-button_mr_css_attr{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
padding-left:35px;
padding-right:35px;
background-color:#202421;
color:#ffffff;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-left-radius:25px;
border-bottom-right-radius:25px;
text-decoration:none;
}</style>

    <div class="my-container_mr_css_attr">
        <div style="background-color: rgb(32, 36, 33);border-radius: 15px;">
            <h1 class="format-font_mr_css_attr" style="text-align: center;padding: 2px;color:white;">
                Активация аккаунта
            </h1>
        </div>
        <h2 class="format-font_mr_css_attr" style="text-align: center;">Temnota Mafia Club</h2> <hr style="background-color:  rgb(110, 3, 211);width:100px">
        <div class="format-font_mr_css_attr" style="text-align: center; margin-top: 20px;line-height: 1.5;">
            <p style="text-align: center;font-weight: bold;">Добро пожаловать в семью!</p>
            Осталось совсем немного! Чтобы активировать учетную запись необходимо подтвердить адрес электронной почты.      
        </div>
        <p class="format-font_mr_css_attr" style="text-align: center;margin-top: 50px;">
            Нажмите на кнопку ниже:
            </p><hr style="background-color:  rgb(32, 36, 33);width:50px">
            <div class="format-font_mr_css_attr" style="text-align: center;margin-top: 30px;">
                <a href="{{link}}" class="my-button_mr_css_attr" target="_blank" rel=" noopener noreferrer">Завершить регистрацию</a>
            </div>
        <p></p>
    </div>
   
</div>